.gridCell {
  border: 1px solid gray;
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  margin-right: 2px;
}
.my-color-class {
  background-color: blue;
}
.black {
  background-color: black;
}
h1 {
  color: white;
}
